flows_carlos.json
[{"id":"f256de3b.48da6","type":"tab","label":"Projeto 3","disabled":false,"info":""},{"id":"4b3939ec.b33458","type":"function","z":"f256de3b.48da6","name":"function_umi_sol","func":"var content = msg.payload;\nif(msg.payload > 60)\n{\n    msg.payload= {\n    chatId:'896795026',\n    type: \"message\",\n    content:\"Perigo!! A Umidade do Solo é: \" + content + '%'\n    };\n    \n}\nelse\n{\n    msg.payload = 'A Umidade do Solo é: ' + content + '%';\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["d4702955.806168","651b76c3.5402d8"]]},{"id":"6186535b.5c74ec","type":"function","z":"f256de3b.48da6","name":"function_lum","func":"var content = msg.payload;\nif(msg.payload > 70)\n{\n    msg.payload= {\n    chatId:'896795026',\n    type: \"message\",\n    content:\"Perigo!! A Luminosidade é: \" + content + '%'\n    };\n    \n}\nelse\n{\n    msg.payload = 'A Luminosidade é: ' + content + '%';\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["d4702955.806168","651b76c3.5402d8"]]},{"id":"f6e5402e.f85c5","type":"function","z":"f256de3b.48da6","name":"function_umi_ar","func":"var content = msg.payload;\nif(msg.payload > 60)\n{\n    msg.payload= {\n    chatId:'896795026',\n    type: \"message\",\n    content:\"Perigo!! A Umidade do Ar é: \" + content + '%'\n    };\n    \n}\nelse\n{\n    msg.payload = 'A Umidade do Ar é: ' + content + '%';\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":720,"wires":[["d4702955.806168","651b76c3.5402d8"]]},{"id":"ae6ddf09.b9a6b","type":"inject","z":"f256de3b.48da6","name":"","topic":"input_temperatura","payload":"31","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[[]]},{"id":"143487bb.29e318","type":"function","z":"f256de3b.48da6","name":"function_temp","func":"var content = msg.payload;\nif(msg.payload > 30)\n{\n    msg.payload= {\n    chatId:'896795026',\n    type: \"message\",\n    content:\"Perigo!! A temperatura é: \" + content + '°C'\n    };\n    \n}\nelse\n{\n    msg.payload = 'A temperatura é: ' + content + '°C';\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["d4702955.806168","651b76c3.5402d8"]]},{"id":"d4702955.806168","type":"telegram sender","z":"f256de3b.48da6","name":"carvanBot","bot":"15cc909b.28d84f","x":820,"y":420,"wires":[["f127f893.52b408"]]},{"id":"651b76c3.5402d8","type":"debug","z":"f256de3b.48da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":320,"wires":[]},{"id":"911669d1.b224e8","type":"inject","z":"f256de3b.48da6","name":"","topic":"input_umi_solo","payload":"40","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[[]]},{"id":"e856a194.cc913","type":"inject","z":"f256de3b.48da6","name":"","topic":"input_umi_ar","payload":"68","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[[]]},{"id":"770a12dc.51158c","type":"inject","z":"f256de3b.48da6","name":"","topic":"input_luminosidade","payload":"48","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[[]]},{"id":"3f4c2c0f.4498c4","type":"ui_gauge","z":"f256de3b.48da6","name":"","group":"e9a0988d.c995b8","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":450,"y":220,"wires":[]},{"id":"f127f893.52b408","type":"debug","z":"f256de3b.48da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content.text","targetType":"msg","x":1030,"y":420,"wires":[]},{"id":"7e856f38.5f2a7","type":"ui_gauge","z":"f256de3b.48da6","name":"","group":"a5771a68.2373c8","order":0,"width":0,"height":0,"gtype":"wave","title":"UmidadeSolo","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":480,"y":60,"wires":[]},{"id":"3df20430.b73a0c","type":"comment","z":"f256de3b.48da6","name":"Alerta >60%","info":"","x":510,"y":160,"wires":[]},{"id":"cf2c6c54.ca56c","type":"comment","z":"f256de3b.48da6","name":"Alerta >30°C","info":"","x":450,"y":360,"wires":[]},{"id":"5376fb40.472ae4","type":"comment","z":"f256de3b.48da6","name":"Alerta >70lx","info":"","x":470,"y":560,"wires":[]},{"id":"ad5e248b.fc6718","type":"comment","z":"f256de3b.48da6","name":"Alerta >60%","info":"","x":470,"y":760,"wires":[]},{"id":"d41f5df1.20419","type":"ui_gauge","z":"f256de3b.48da6","name":"","group":"1f5584c9.71385b","order":3,"width":0,"height":0,"gtype":"donut","title":"Luminosidade","label":"lx","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":480,"y":480,"wires":[]},{"id":"ae646fd9.51761","type":"ui_gauge","z":"f256de3b.48da6","name":"","group":"f3e6d740.dff328","order":0,"width":0,"height":0,"gtype":"wave","title":"UmidadeAr","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"66","x":470,"y":680,"wires":[]},{"id":"d19b19c6.8109c8","type":"mysql","z":"f256de3b.48da6","mydb":"d74473d0.b7bdd","name":"banco_dados","x":1200,"y":160,"wires":[[]]},{"id":"5acfee0f.77581","type":"function","z":"f256de3b.48da6","name":"dados_value","func":"var topic=msg.topic;\nif(topic==\"input_temperatura\"){\n    var varTemperatura = msg.payload;\n}\nif (topic==\"input_umi_solo\"){\n    var varUmidadeSolo = msg.payload;\n}\nif (topic==\"input_umi_ar\"){\n    var varUmidadeAr = msg.payload;\n}\nif (topic==\"input_luminosidade\"){\n    var varLuminosidade = msg.payload;\n}\n\nmsg.topic = \"INSERT INTO estufa (date,time,temperatura,umidade_ar,umidade_solo,luminosidade) VALUES (CURDATE(),CURTIME(),'\"+varTemperatura+\"','\"+varUmidadeAr+\"','\"+varUmidadeSolo+\"','\"+varLuminosidade+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["d19b19c6.8109c8"]]},{"id":"ef86ca32.4e1c38","type":"debug","z":"f256de3b.48da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":60,"wires":[]},{"id":"1c44fbb0.669814","type":"change","z":"f256de3b.48da6","name":"","rules":[{"t":"set","p":"payload.umidade_solo_value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":760,"wires":[[]]},{"id":"ca34e8ca.44da28","type":"change","z":"f256de3b.48da6","name":"","rules":[{"t":"set","p":"payload.temperatura_value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":800,"wires":[[]]},{"id":"71f06266.a2a2fc","type":"change","z":"f256de3b.48da6","name":"","rules":[{"t":"set","p":"payload.luminosidade_value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":840,"wires":[[]]},{"id":"e21155e.a435ea8","type":"change","z":"f256de3b.48da6","name":"","rules":[{"t":"set","p":"payload.umidade_ar_value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":880,"wires":[[]]},{"id":"58de1ef0.c45cc","type":"change","z":"f256de3b.48da6","name":"","rules":[{"t":"set","p":"payload.usv","pt":"msg","to":"payload.umi_solo_value","tot":"jsonata"},{"t":"set","p":"payload.uav","pt":"msg","to":"payload.umi_ar_value","tot":"jsonata"},{"t":"set","p":"payload.tv","pt":"msg","to":"payload.temperatura_value","tot":"jsonata"},{"t":"set","p":"payload.lv","pt":"msg","to":"payload.luminocidade_value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"16b2c562.9332db","type":"inject","z":"f256de3b.48da6","name":"view records","topic":"SELECT * FROM estufa ORDER BY date DESC LIMIT 50;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":560,"wires":[["7341c21d.f8239c"]]},{"id":"7603517b.29765","type":"ui_template","z":"f256de3b.48da6","group":"4697cac9.8d46c4","name":"","order":0,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>ID</th> \n    <th>Data</th>\n    <th>Hora</th> \n    <th>Temperatura</th>\n    <th>Umidade Ar</th>\n    <th>Umidade Solo</th>\n    <th>Luminosidade</th>\n    <th></th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].date}}</td>\n    <td>{{msg.payload[$index].time}}</td> \n    <td>{{msg.payload[$index].temperatura}}</td>\n    <td>{{msg.payload[$index].umidade_ar}}</td>\n    <td>{{msg.payload[$index].umidade_solo}}</td> \n    <td>{{msg.payload[$index].luminosidade}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":560,"wires":[[]]},{"id":"7341c21d.f8239c","type":"mysql","z":"f256de3b.48da6","mydb":"d74473d0.b7bdd","name":"banco_dados","x":1150,"y":560,"wires":[["7603517b.29765","78ccef56.e6f9","88aa8607.825f68"]]},{"id":"78ccef56.e6f9","type":"debug","z":"f256de3b.48da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":500,"wires":[]},{"id":"88aa8607.825f68","type":"ui_chart","z":"f256de3b.48da6","name":"","group":"bb41df7f.5866f","order":0,"width":0,"height":0,"label":"Histórico","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"temperatura,umidade_ar,umidade_solo,luminosidade","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":620,"wires":[[]]},{"id":"a222ea3b.922eb8","type":"comment","z":"f256de3b.48da6","name":"Dados Históricos","info":"","x":940,"y":520,"wires":[]},{"id":"f9c95713.42ffb8","type":"mqtt in","z":"f256de3b.48da6","name":"Temp","topic":"vaso/temp","qos":"2","datatype":"auto","broker":"b2544d27.5412a","x":230,"y":300,"wires":[["143487bb.29e318","3f4c2c0f.4498c4","5acfee0f.77581"]]},{"id":"a25b0db8.a8568","type":"mqtt in","z":"f256de3b.48da6","name":"Umid.  Solo","topic":"vaso/smo","qos":"2","datatype":"auto","broker":"b2544d27.5412a","x":240,"y":120,"wires":[["4b3939ec.b33458","7e856f38.5f2a7","5acfee0f.77581"]]},{"id":"5ef7f80b.6c2688","type":"mqtt in","z":"f256de3b.48da6","name":"Umid.  Ar","topic":"vaso/arh","qos":"2","datatype":"auto","broker":"b2544d27.5412a","x":220,"y":740,"wires":[["ae646fd9.51761","f6e5402e.f85c5","5acfee0f.77581"]]},{"id":"2f531fa8.cfd58","type":"mqtt in","z":"f256de3b.48da6","name":"lum","topic":"vaso/lum","qos":"2","datatype":"auto","broker":"b2544d27.5412a","x":210,"y":540,"wires":[["d41f5df1.20419","6186535b.5c74ec","5acfee0f.77581"]]},{"id":"15cc909b.28d84f","type":"telegram bot","z":"","botname":"carvan_firstbot","usernames":"","chatids":"896795026","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"e9a0988d.c995b8","type":"ui_group","z":"","name":"Temperatura","tab":"bec6f745.eae8e8","disp":true,"width":"6","collapse":false},{"id":"a5771a68.2373c8","type":"ui_group","z":"","name":"Umidade Solo","tab":"bec6f745.eae8e8","disp":true,"width":"6","collapse":false},{"id":"1f5584c9.71385b","type":"ui_group","z":"","name":"Luminosidade","tab":"bec6f745.eae8e8","disp":true,"width":"6","collapse":false},{"id":"f3e6d740.dff328","type":"ui_group","z":"","name":"Umidade do Ar","tab":"bec6f745.eae8e8","disp":true,"width":"6","collapse":false},{"id":"d74473d0.b7bdd","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"bd_nodered","tz":"GMT-3"},{"id":"4697cac9.8d46c4","type":"ui_group","z":"","name":"Top Dados ","tab":"bec6f745.eae8e8","disp":true,"width":"12","collapse":false},{"id":"bb41df7f.5866f","type":"ui_group","z":"","name":"Chart of Dados","tab":"bec6f745.eae8e8","disp":true,"width":"6","collapse":false},{"id":"b2544d27.5412a","type":"mqtt-broker","z":"","name":"desktop","broker":"10.51.65.29","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bec6f745.eae8e8","type":"ui_tab","z":"","name":"Controle Estufa","icon":"dashboard","disabled":false,"hidden":false}]